# Created by .ignore support plugin (hsz.mobi)
.idea/
node_modules/
app/config/nodeConfig.js
app/config/browserConfig.js
app/config/browserify.js
app/public/js/bundle.js
app/public/tmp/
app/tmp/

!app/tmp/.gitignore
!app/public/tmp/.gitignore