<!-- map -->
<div id="container">
    <div id="places">
        <input id="custom-search" class="typeahead" type="text" placeholder="{{Address}}">
    </div>
    <div id="map"></div>
    <div id="side-panel">
        <div id="top">
            <div id="progress-container"><span id="progress"></span><span id="spinner">&nbsp;<span><img
                    src='https://gc2.mapcentia.com/assets/images/ajax_loader.gif' class='spinner'/></span></span></div>
            <div id="buffer-container">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="buffer">{{Buffer}}</label>
                        <input id="buffer" type="text" class="form-control" placeholder="{{Meters}}">
                    </div>
                    <button class="btn btn-primary" id="remove-all-btn">{{Clear map}}</button>
                    <button class="btn btn-warning" id="mapclient-btn">MapClient</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div role="tabpanel" class="tab-pane" id="result-content" style="display: none">
        <div id="result">
            <div id="result-origin"></div>
            <button class="btn btn-primary btn-xs" id="print-btn"
                    disabled="true">{{Print report}}<img src='https://gc2.mapcentia.com/assets/images/ajax_loader.gif'
                                                         class='print-spinner'/></button>
            <button class="btn btn-primary btn-xs" id="geomatic-btn"
                    disabled="true">Hent Geomatic<img src='https://gc2.mapcentia.com/assets/images/ajax_loader.gif'
                                                      class='print-spinner'/></button>

            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#hits-content"
                                                              aria-controls="hits-content" role="tab"
                                                              data-toggle="tab">{{With conflicts}}<span></span></a>
                    </li>
                    <li role="presentation"><a href="#hits-data-content"
                                               aria-controls="hits-data-content" role="tab"
                                               data-toggle="tab">{{Data from conflicts}}<span></span></a>
                    </li>
                    <li role="presentation"><a href="#nohits-content" aria-controls="nohits-content"
                                               role="tab"
                                               data-toggle="tab">{{Without conflicts}}<span></span></a></li>
                    <li role="presentation"><a href="#error-content" aria-controls="error-content"
                                               role="tab"
                                               data-toggle="tab">{{Errors}}<span></span></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="hits-content">
                        <div id="hits">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{{Layer}}</th>
                                    <th>{{Number of objects}}</th>
                                    <th>{{Show}}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="hits-data-content">
                        <div id="hits-data">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="nohits-content">
                        <div id="nohits">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{{Layer}}</th>
                                    <th>{{Number of objects}}</th>
                                    <th>{{Show}}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="error-content">
                        <div id="error">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{{Layer}}</th>
                                    <th>{{Severity}}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info-content">
                <div id="info-box">
                    <div id="modal-info-body">
                        <ul class="nav nav-tabs" id="info-tab"></ul>
                        <div class="tab-content" id="info-pane"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

