<!-- map -->
<div id="container">
    <div id="places">
        <input id="custom-search" class="typeahead" type="text" placeholder="{{Address}}">
        <span id="searchclear"><span id="progress-container"><span id="progress"></span><span id="spinner">&nbsp;<span><img
                src='https://gc2.mapcentia.com/assets/images/ajax_loader.gif' class='spinner'/></span></span></span></span>

    </div>
    <div id="map"></div>
    <div id="side-panel">
        <div id="top">
            <div id="buffer-container">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="buffer">{{Buffer}}</label>
                        <input id="buffer" type="text" class="form-control" placeholder="{{Meters}}">
                    </div>
                    <button class="btn btn-primary" id="remove-all-btn">{{Clear map}}</button>
                    <button class="btn btn-warning" id="vidi-btn">Avanceret kort</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div id="result-content" style="display: none">
        <div id="result">
            <div><span id="result-origin"></span><span id="ejdnr"></span></div>
            <button class="btn btn-primary btn-xs" id="print-btn"
                    disabled="true">{{Print report}}<img src='https://gc2.mapcentia.com/assets/images/ajax_loader.gif'
                                                         class='print-spinner'/></button>
            <button class="btn btn-primary btn-xs" id="geomatic-btn"
                    disabled="true">Hent Geomatic<img src='https://gc2.mapcentia.com/assets/images/ajax_loader.gif'
                                                      class='print-spinner'/></button>

            <div role="tabpanel" class="tab-pane" id="hits-data-content">
                <div id="hits-data">
                </div>
            </div>
            <div id="info-content">
                <div id="info-box">
                    <div id="modal-info-body">
                        <ul class="nav nav-tabs" id="info-tab"></ul>
                        <div class="tab-content" id="info-pane"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position: absolute; top: 70px; left: 10px; background-color: white; padding: 5px; border: #bcbfe2;" id="legend-content"><div id="legend"></div></div>
</div>

